.posicaProduto{
    position: absolute;left: 400px; top: 50px;
}
.produto-label{
    color: #ffbe59;
    text-align: center;
    font-family: "Fredoka One";
    font-size: 26px;
    letter-spacing: 0px;
    line-height: 1;
    position: absolute;left: 400px; top: 0px;
}

.buttonG{
    position: absolute;left: 800px; top: 45px;
}
.posicaobutton{
    position: absolute;left: 1000px; top: 45px;
}

.positionSave{
    position: absolute;left: 1200px; top: 45px;
}

.buttonI{
    position: absolute;left: 1050px; top: 45px;
}